/* header */

* {
	font-family: 'Open Sans', sans-serif;}

/* FOOTER */

footer{
	background: #A3D8F4;
	display: flex;
	justify-content: space-around;
	padding: 15PX;
}

.logoFooter{order: 1;}

.rrssFooter{order: 6;}

.navegacionFooter{order: 2;}

/* CIERRE FOOTER */


.logo1 {
	display: flex;
	justify-content: center;
}

.nav ul { 
	display: flex;
	background: #A3D8F4;
	justify-content: space-evenly;	
}

.nav__item {
	display: inline;
	padding-left: 50px;
}

li { list-style-type: none; 
	text-align: left;}

a { 
	text-decoration: none;
	font-size: 14px;
	color: black;
}

a:hover {
	color: white;
}


.navbar{
	 background: #A3D8F4 !important;
	  margin-bottom:20px;
}
.card{
    margin-bottom:20px;
  }  

/* GRID CONTACTO */

.container-grid-contacto{
	display: grid;
	justify-content: center;
}

.titleContacto {
	grid-area: titleContacto;
	display: flex;
	justify-content: center;
}

form {
	grid-area: form;
  	margin: 0 auto;
}


.direccion {
	grid-area: direccion;
    padding-left: 200px;
}

.ubicacion{
	grid-area: ubicacion;
}

iframe {
	width: 300px;
    height: 300px; 
}


/*CIERRE GRID CONTACTO */

/* mobile */
@media only screen and (max-width: 480px) {
    .container-grid-contacto {
        grid-template-columns: 2fr;
        grid-template-rows: 70px 420px 220px 320px ;
        grid-template-areas: 
            "titleContacto"
            "form"
            "direccion"
            "ubicacion";
    }

    .titleContacto{
    	padding-left: 5rem;
    }

    .direccion{
    	padding-left: 10px;
    }
    .nav {
    	display: none;
    }

    footer {
    	display: block;
    }
}

/* notebooks desktop */
@media only screen and (min-width: 481px){
    .container-grid-contacto {
    grid-template-rows: 100px 500px 350px;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
	"titleContacto titleContacto"
	"form form"
	"direccion ubicacion"
    }
}


/* GRID COMO COMPRAR */

.title_como_comprar{
	display: flex;
	justify-content: center;
}

.container-grid-como-comprar{
	display: grid;
}

.title-1{
	grid-area:title-1 ;
}

.p-1{
	grid-area:p-1 ;
}

.title-2{
	grid-area:title-2 ;
}
.p-2{
	grid-area:p-2 ;
}
.title-3{
	grid-area:title-3 ;
}

.p-3{
	grid-area:p-3 ;
}

.title-4{
	grid-area:title-4 ;
}
.p-4{
	grid-area:p-4 ;
}
.title-5{
	grid-area:title-5 ;
}
.p-5{
	grid-area:p-5 ;
}

/* CIERRE GRID COMO COMPRAR*/

/* mobile */
@media only screen and (max-width: 480px) {
    .container-grid-como-comprar {
        grid-template-columns:1fr;
		grid-template-rows:repeat(10, 1fr) ;
		grid-template-areas: 
		"title-1"
		"p-1"
		"title-2"
		"p-2"
		"title-3"
		"p-3"
		"title-4"
		"p-4"
		"title-5"
		"p-5";
	justify-content: left;
	justify-items: left;
	}
	.img_como_comprar {
	width:100%	
	}
}

/* notebooks desktop */
@media only screen and (min-width: 481px){
    .container-grid-como-comprar{
    grid-template-columns:1fr;
	grid-template-rows:repeat(10, 1fr) ;
	grid-template-areas:
	"title-1"
	"p-1"
	"title-2"
	"p-2"
	"title-3"
	"p-3"
	"title-4"
	"p-4"
	"title-5"
	"p-5";
	justify-content: center;
	justify-items: center;
	}
	.img_como_comprar {
	width:100%	
	}
}

/* GRID DATOS UTILES */

.img-datos-utiles{
	grid-area:img-datos-utiles;
}

.datos{
	grid-area: datos;
}

.container-grid-datos-utiles{
	display: grid;
}

/* CIERRE GRID DATOS UTILES */

/* mobile */
@media only screen and (max-width: 480px) {
    .container-grid-datos-utiles {
 	grid-template-rows: 1fr 1fr;
	grid-template-columns:1fr;
	grid-template-areas:
	"img-datos-utiles"
	"datos";
	}
	.img-datos-utiles {
	width:100%	
	}
}	

/* notebooks desktop */	

@media only screen and (min-width: 481px){
    .container-grid-datos-utiles{
    grid-template-rows:1fr;
	grid-template-columns:1fr;
	grid-template-areas:
	"img-datos-utiles"
	"datos";
	}
	.img-datos-utiles {
	width:100%	
	}
}