* {
    font-family: 'Open Sans', sans-serif;
}


footer{
	background: #A3D8F4;
	display: flex;
	justify-content: space-around;
	padding: 15PX;
}

li { list-style-type: none; 
	text-align: left;}

a { 
	text-decoration: none;
	font-size: 14px;
	color: black;
}

a:hover {
	color: white;
}


.navbar{
	 background: #A3D8F4 !important;
	  margin-bottom:20px;
}

.card{
    margin-bottom:20px;
  }  


form {
  	margin: 0 auto;
}

iframe {
	width: 300px;
    height: 300px; 
}


