.navbar{
	background-color: $color-primario !important;
	.container-fluid{
		.collapse{
			ul{
				li{
					a{
					&:hover {
					color: white
					}
				}
			}
		}
	}
  }			
}


.logo1 {
	display: flex;
	justify-content:center;
}

.logoPrincipal{
	padding-bottom: 20px;
	width: 200px;
}

.nav {
	ul { 
		display: flex;
		background: #A3D8F4;
		justify-content: center;
		padding-top: 16px;
		padding-bottom: 16px;
		li {
		display: inline;
		padding-left: 10px; 
		list-style-type: none; 
		text-align: left;
		font-family: $font;
		}
		a { 
		text-decoration: none;
		font-size: 15px;
		color: black;
		&:hover {
		color: white;}
		}
	}
}
















