
/* 	MEDIA QUERY DATOS UTILES */

/* mobile */
@media only screen and (max-width: 480px) {
    .container-grid-datos-utiles {
 	grid-template-rows: 5% 12% 18% 12% 17% 12% 23%;
	grid-template-columns:1fr;
	grid-template-areas:
	"titulo"
	"img1"
	"text1"
	"img2"
	"text2"
	"img3"
	"text3";
	}
    .nav {
    	display: none;
  	}
  	
  	footer{
  		display: block;
  	}
}	

/* notebooks desktop */	

@media only screen and (min-width: 481px){
 .container-grid-datos-utiles {
 	grid-template-rows: 6% 30% 30% 33%;
	grid-template-columns:1fr 1fr 1fr;
	gap:20px;
	grid-template-areas:
	"titulo titulo titulo"
	"img1 text1 text1"
	"text2 text2 img2"
	"img3 text3 text3";
	}
}