<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>¿como comprar?</title>
	<link rel="stylesheet" type="text/css" href="../css/estilo.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
	<header>
		<!--logo-->
		<div class="logo1">
			<img src="../assets/img/logo.png" alt="logo">
		</div>
		<!--cierre logo-->
		<nav class="nav">
			<ul>
				<li class="nav__item"><a href="../index.html">INCIO</a></li>
				<li class="nav__item"><a href="contacto.html">CONTACTO</a></li>
				<li class="nav__item"><a href="productos.html">PRODUCTOS</a></li>
				<li class="nav__item"><a href="#">¿COMO COMPRAR?</a></li>
				<li class="nav__item"><a href="datos_utiles.html">DATOS ÙTILES</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<img src="../assets/img/limpieza3.jpg" class="img_como_comprar" data-aos="fade-up">
		<h1 class="title_como_comprar">PREGUNTAS FRECUENTES</h1>
		<div class="container-grid-como-comprar" data-aos="flip-left">
			<h3 class="title-1">¿Existe un monto mínimo de compra?</h3>
				<p class="p-1">- Si la compra se retira por el local de venta no existe monto mínimo alguno. <br>
			- El monto mínimo de compra para la web es de $2000 y el envío será GRATIS. (Únicamente dentro del rango de entrega local).</p>
			<h3 class="title-2">¿Cuáles son las formas de pago ?</h3>
				<p class="p-2">- Las formas de pago que disponemos son: <br>     
			Envíos: Efectivo, previo depósito o transferencia, previo pago a través de MercadoPago o tarjeta de crédito vía telefónica. <br>
  			Retirando en el local: Efectivo, tarjeta de crédito o débito, Mercado Pago.</p>
 			<h3 class="title-3">¿ Cuales son los días de envió?</h3>
				<p class="p-3">Los días de envío son los días Sábados de 11:00 a 15:00 hs</p>
			<h3 class="title-4">¿Cuales son las zonas de envío y sus montos mínimos?</h3>
				<p class="p-4">Ver zonas aquí. <!-- FUTURO LINK PARA VER MAPA-->  </p>
			<h3 class="title-5">¿Puedo hacer un pedido y retirarlo por el local?</h3>
				<p class="p-5">- Sí, una vez confirmado el pedido se puede pasar a retirar dentro del horario de atención del local. (Lun. a Vie. de 10:00 a 14 hs y de 16 a 19 hs, Sab. de 10:00  a 15 hs).</p>
		</div>
	</main>
	<footer>
		<!--logo-->
			<img class="logoFooter" src="../assets/img/logo.png" alt="logo">
		<!--navegacion-->
			<div class="navegacionFooter">
				<h3>Navegacion</h3>
				<ul>
					<li><a href="../index.html">INICIO</a></li>
					<li><a href="contacto.html">CONTACTO</a></li>
					<li><a href="productos.html">PRODUCTOS</a></li>
					<li><a href="#">¿COMO COMPRAR?</a></li>
					<li><a href="datos_utiles.html">DATOS ÙTILES</a></li>
				</ul>
			</div>
		<!--redes sociales-->
			<div class="rrssFooter">
				<h3>Redes Sociales</h3>
				<img src="../assets/img/facebooklogo.png" alt="facebooklogo">
				<img src="../assets/img/instagramlogo.png" alt="instagramlogo">
			</div>		
	</footer>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
  AOS.init();
</script>
</body>
</html>