<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contacto</title>
	<link rel="stylesheet" type="text/css" href="../css/estilo.css">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<!--logo-->
		<div class="logo1">
			<img src="../assets/img/logo.png" alt="logo">
		</div>
		<!--cierre logo-->
		<nav class="nav">
			<ul>
				<li class="nav__item"><a href="../index.html">INICIO</a></li>
				<li class="nav__item"><a href="#">CONTACTO</a></li>
				<li class="nav__item"><a href="productos.html">PRODUCTOS</a></li>
				<li class="nav__item"><a href="como_comprar.html">¿COMO COMPRAR?</a></li>
				<li class="nav__item"><a href="datos_utiles.html">DATOS ÙTILES</a></li>
			</ul>
		</nav>

	</header>
	<main class= container-grid-contacto>
			<div class="titleContacto">
				<h1>CONTACTO</h1>
			</div>
			<form action="#">
				<label for="nombre">
					<div> 
						NOMBRE
					</div>	
						<input type="text" name="nombre">
				</label>
				<label for="mail">
					<div>
						EMAIL
					</div>
					<input type="text" name="mail">
				</label>
				<label for="telefono">
					<div> 
						TELEFONO (opcional)
					</div>	
						<input type="text" name="telefono">
				</label>
				<div>MOTIVO DE CONSULTA:
					<select name="motivo" id="motivo">
						<option value="ventas"> VENTAS </option>
						<option value="lista de precios"> LISTA DE PRECIOS</option>
						<option value="productos"> PRODUCTOS </option>
					</select>
				</div>		
				<div>
					MENSAJE (opcional)
					</div>
				<textarea name="" id="" cols="30" rows="10"></textarea>
				<div class="button">
  				<button type="submit">Envíe su mensaje</button>
				</div>
			</form>
			<div class="ubicacion">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.3451248358087!2d-58.40088778560841!3d-34.620717780455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb1b88c71e73%3A0x16a1b4b9de197a34!2sAlmac%C3%A9n%20de%20limpieza!5e0!3m2!1ses-419!2sar!4v1643242522142!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>	
			</div>
			<div class="direccion">	
					<h5>Carlos Calvo 2307, esq Pichincha (CABA)</h5>
					<h5>Lun a Vie 10 a 14 hs ; 16 a 19 hs / sab 10 a 15 hs</h5>
					<h5>Whatsapp 1133309938</h5>
					<h5>almacendelimpiezaa@gmail.com</h5>
			</div>			
	</main>
	<footer>
		<!--logo-->
			<img class="logoFooter" src="../assets/img/logo.png" alt="logo">
		<!--navegacion-->
			<div class="navegacionFooter">
				<h3>Navegacion</h3>
				<ul>
					<li><a href="../index.html">INICIO</a></li>
					<li><a href="#">CONTACTO</a></li>
					<li><a href="productos.html">PRODUCTOS</a></li>
					<li><a href="como_comprar.html">¿COMO COMPRAR?</a></li>
					<li><a href="datos_utiles.html">DATOS ÙTILES</a></li>
				</ul>
			</div>
		<!--redes sociales-->
			<div class="rrssFooter">
				<h3>Redes Sociales</h3>
				<img src="../assets/img/facebooklogo.png" alt="facebooklogo">
				<img src="../assets/img/instagramlogo.png" alt="instagramlogo">
			</div>		
	</footer>
</body>
</html>