<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="articulos de limpieza quimica productos datos utiles">
	<meta name="description" content="productos de limpieza sueltos y envasados. Venta mayorista y minorista de articulos de limpieza. datos utiles.">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	<title>Datos Útiles</title>
	<link rel="stylesheet" type="text/css" href="../css/estilo.css">
</head>
<body>
	<header>
		<div class="logo1">
			<img src="../assets/img/logo.png" alt="logo">
		</div>
		<nav class="nav">
			<ul>
				<li><a href="../index.html">INICIO</a></li>
				<li><a href="contacto.html">CONTACTO</a></li>
				<li><a href="productos.html">PRODUCTOS</a></li>
				<li><a href="como_comprar.html">¿CÓMO COMPRAR?</a></li>
				<li><a href="#">DATOS ÚTILES</a></li>
			</ul>
		</nav>
	</header>
	<main class="container-grid-datos-utiles">
		<div class="tituloDatos">
			<h1>DATOS ÚTILES</h1>
		</div>
		<div class="img1">
			<img src="../assets/img/limpieza6.png">
		</div>
		<div class="text1">	
			 <h3>¿Cuál es la manera indicada para diluir la lavandina?</h3>
			<p>Para grandes superficies, diluir 1 taza (240 ml) de lavandina en 5 litros de agua. Dejar actuar la solución sobre la superficie durante 5 minutos, enjuagar y secar. Para desinfectar pequeñas superficies como mesadas y artefactos de uso habitual, diluir 3,5 cucharadas soperas (48 ml) de lavandina en 1 litro de agua. Dejar actuar durante 5 minutos, enjuagar y secar.</p>
		</div>
		<div class="img2">
			<img src="../assets/img/limpieza3.png">
		</div>
		<div class="text2">
			<h3>¿Cuanto jabón para la ropa tengo que usar?</h3>
			<p>Esto va a depender mucho de la cantidad de ropa que vayas a lavar y de la capacidad del lavarropas, pero la recomendación es utilizar 100ml para una carga completa de 8kg. Este dato es importante ya que, si sos cliente fiel de comprar bidones de 5 litros debes saber que  debe durar como mínimo 50 lavados.</p>
		</div>
		<div class="img3">
			<img src="../assets/img/limpieza4.png">
		</div>
		<div class="text3">	
			<h3>¿Cuál es la manera más facil de encerar tu piso de madera?</h3>
			<p>1° Antes de aplicar la cera, el piso debe estar limpio. Todos los pedacitos de tierra, arena u otras partículas pueden actuar como un abrasivo en el suelo y debe ser eliminado.Trapea con agua común después de barrer o aspirar, trapea el piso con agua limpia</p>
			<p>2° Para una correcta aplicación de la cera, en primer lugar se debe colocar líquido sobre un trapo suave, limpio y seco. Es decir: desde el trapo hacia el piso y no a la inversa, ya que pueden quedar manchas en la superficie. Una vez que la cera se secó, se puede sacar brillo con otro trapo o una lustradora.</p> 	
		</div>	
	</main>
	<footer>
			<img class="logoFooter" src="../assets/img/logo.png" alt="logo">
			<div class="navegacionFooter">
				<h3>NAVEGACION</h3>
				<ul>
				   <li><a href="../index.html">INICIO</a></li>
				   <li><a href="contacto.html">CONTACTO</a></li>
				   <li><a href="productos.html">PRODUCTOS</a></li>
				   <li><a href="como_comprar.html">¿CÓMO COMPRAR?</a></li>
				   <li><a href="#">DATOS ÚTILES</a></li>
				</ul>
			</div>
			<div class="rrssFooter">
				<h3>REDES SOCIALES</h3>
				<img src="../assets/img/facebooklogo.png" alt="facebooklogo">
				<img src="../assets/img/instagramlogo.png" alt="instagramlogo">
			</div>		
	</footer>
</body>
</html>