<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>productos</title>
	<link rel="stylesheet" type="text/css" href="../css/estilo.css">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<!--logo-->
		<div class="logo1">
			<img src="../assets/img/logo.png" alt="logo">
		</div>
		<!--cierre logo-->
		<nav class="nav">
			<ul>
				<li class="nav__item"><a href="../index.html">INICIO</a></li>
				<li class="nav__item"><a href="contacto.html">CONTACTO</a></li>
				<li class="nav__item"><a href="#">PRODUCTOS</a></li>
				<li class="nav__item"><a href="como_comprar.html">¿COMO COMPRAR?</a></li>
				<li class="nav__item"><a href="datos_utiles.html">DATOS ÙTILES</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<div class="titleProductos">
			<h1>PRODUCTOS</h1>
		</div>
		<section class="container-grid-productos">
			<div class="img1">
				<img src="../assets/img/productos1.jpg" class="img-1">
				<button> ver </button>
		</div>	
			<div class="img2">	
				<img src="../assets/img/productos2.jpg" class="img-2">
				<button> ver </button>
		</div>
			<div class="img3">
				<img src="../assets/img/productos3.jpg" class="img-3">
				<button> ver </button>
		</div>
			<div class="img4">
				<img src="../assets/img/productos4.jpg" class="img-4">
				<button> ver </button>
		</div>
			<div class="img5">
				<img src="../assets/img/productos2.jpg" class="img-5">
				<button> ver </button>
		</div>
			<div class="img6">
				<img src="../assets/img/productos4.jpg" class="img-6">
				<button> ver </button>
		</div>
			<div class="img7">
				<img src="../assets/img/productos3.jpg" class="img-7">
				<button> ver </button>
		</div>	
			<div class="img8">
				<img src="../assets/img/productos1.jpg" class="img-8">
				<button> ver </button>
		</div>
		</section>
	</main>
	<footer>
		<!--logo-->
			<img class="logoFooter" src="../assets/img/logo.png" alt="logo">
		<!--navegacion-->
			<div class="navegacionFooter">
				<h3>Navegacion</h3>
				<ul>
					<li><a href="../index.html">INICIO</a></li>
					<li><a href="contacto.html">CONTACTO</a></li>
					<li><a href="#">PRODUCTOS</a></li>
					<li><a href="como_comprar.html">¿COMO COMPRAR?</a></li>
					<li><a href="datos_utiles.html">DATOS ÙTILES</a></li>
				</ul>
			</div>
		<!--redes sociales-->
			<div class="rrssFooter">
				<h3>Redes Sociales</h3>
				<img src="../assets/img/facebooklogo.png" alt="facebooklogo">
				<img src="../assets/img/instagramlogo.png" alt="instagramlogo">
			</div>		
	</footer>
</body>
</html>